/*	GERAL
********************/
@font-face {
	font-family: 'Roboto';
	src: url('./Roboto-Regular.ttf')
}

html, body {
	margin: 0;
	min-height: 100%;
	background-color: var(--corDeFundo);
	color: var(--corDeLetra);
}

* {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	outline: none
}

html, body { min-width: 300px }

img, ins, .navSection h1 {
	user-select: none;
	-moz-user-select: none
}

button {
	border: 1px solid var(--corDeBorda);
  color: var(--corDeLetraBotao);
	position: relative;
  user-select: none;
  line-height: 22px;
	-moz-user-select: none;
	background-color: var(--corSecundaria);
	background-position: center;
	font-weight: 500;
	transition: background 0.3s
}

select:disabled { color: darkgray }

button:hover { background: var(--corSecundaria) radial-gradient(circle, transparent 1%, var(--corTercearia) 1%) center/15000% }

button:active {
	background-color: var(--corPrimaria);
	background-size: 100%;
	transition: background 0s
}

select {
	margin-top: 5px;
	width: 205px;
	margin-bottom: 2px;
	position: relative;
	background-color: var(--corSecundaria);
	padding: 10px 20px 10px 20px;
	color: var(--corDeLetraBotao);
	display: block;
	left: 50%;
	font-size: 20px;
	font-weight: 900;
	transform: translateX(-50%)
}

ins {
	font-size: 20px;
	font-weight: bolder
}

::-webkit-scrollbar {	width: 4px }
::-webkit-scrollbar-thumb {	background-color: var(--corSecundaria) }
::-webkit-scrollbar-track {	background-color: var(--corDeLetraBotao) }

.chest-ring, .player-ring { display: none }
.lds-ring {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 64px;
  height: 64px;
	position: absolute
}

.lds-ring div, .chest-ring div, .player-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 6px solid var(--corDeLetra);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--corDeLetra) transparent transparent transparent
}
.lds-ring div:nth-child(1), .chest-ring div:nth-child(1), .player-ring div:nth-child(1) { animation-delay: -0.45s }
.lds-ring div:nth-child(2), .chest-ring div:nth-child(2), .player-ring div:nth-child(2) { animation-delay: -0.3s }
.lds-ring div:nth-child(3), .chest-ring div:nth-child(3), .player-ring div:nth-child(3) { animation-delay: -0.15s }

@keyframes lds-ring {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

/* NAVIGATION
********************/
.navSection {
	background-color: var(--corPrimaria);
	color: var(--corDeLetraBotao);
	z-index: 1;
	position: fixed
}

.navSection svg {
	width: 24px;
	height: 24px;
	top: 2px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute
}

.navSection .effect { color: var(--corDeLetraBotao) }
.navSection .effect:after { background-color: var(--corDeLetraBotao) }
.navSection h1 { display: none }

.navSection button {
	min-width: 175px;
	width: 100%;
	margin-bottom: 1px;
	font-size: 17px;
	border: 1px solid var(--corDeLetraBotao);
	padding: 25px 0 3px 0;
}

#selectedButton {
	background-color: var(--corDeFundo);
	color: var(--corDeLetra)
}

.container {
	width: 40px;
	height: 35px;
	position: relative
}

.container div {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative
}

.container div:after, .container div:before, .container div {
	background-color: var(--corDeLetraBotao);
	width: 100%;
	height: 4px
}

.container div:after, .container div:before {
	content: '';
	position: absolute
}
.container div:after { top: -10px }

.container div:before { bottom: -10px }

/* BUILDER SECTION
********************/
.navSection, .builderSection, .playerSection, .savedSection, .bestSection, .chestSection { display: none }
.builderSection, .playerSection, .selectSection, .savedSection, .bestSection, .chestSection, .configSection, .aboutSection {
	position: relative;
	top: 35px;
	width: 100%;
	min-height: 100%
}

.builderSection { overflow-x: hidden }

.builderSection > section {
	width: 100%;
	min-height: 100%
}

.cardsContainer, .cardsContainerS, .configContainer, .infoContainer {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 600px
}

/* CARDS CONTAINER
********************/
.cardsContainer, .cardsContainerS {
	height: 210px;
	margin-bottom: 5px;
	transition: all .1s
}

.cardsContainer div, .cardsContainerS div {
	width: 25%;
	height: 50%;
	float: left;
	overflow: hidden
}

.cardsContainer img, .cardsContainerS img {
	width: 100%;
	height: 100%
}

/* CONFIG CONTAINER
********************/
.btnCopiar, .btnSalvar, .btnColar, .btnVoltar, .btnGerar { margin-top: 5px }

.btnCopiar, .btnSalvar, .btnColar {
	left: 5px;
	height: 40px;
	font-size: 16px;
	width: 121px
}

.btnColar {	top: 43px }
.btnSalvar { top: 86px }

.btnCopiar, .btnColar, .btnSalvar, .btnVoltar, .btnGerar, .configContainer img, .configContainer div { position: absolute }

.btnVoltar {
	right: 132px;
	font-size: 15px;
	padding: 0;
	width: 30px
}

.btnVoltar, .btnGerar {	height: 60px }
.btnVoltar {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px
}

.btnGerar {
	right: 5px;
	width: 128px;
	font-size: 19px;
	font-weight: 600
}

.configContainer {
	height: 136px;
	border: 1px solid var(--corDeBorda)
}

.configContainer img {
	right: 4px;
	top: 65px
}

.configContainer div {
	top: 112px;
	left: 99%;
	transform: translateX(-99%);
	white-space: nowrap
}

.configContainer input, .configContainer label { user-select: none }

.configContainer label {
	font-size: 19px;
	font-weight: bold
}

.configContainer button ins { font-size: 18px }

/* INFO CONTAINER
********************/
.infoContainer { min-height: 0 }

.infoContainer h1 { font-size: 30px }

.infoContainer h1, .infoContainer h3, .infoContainer h2 {
	text-align: center;
	margin: 0
}

.infoContainer h2 {
	font-size: 18px;
	margin: 0
}

/* CARD SELECTOR
********************/
.selectSection section {
	display: inline-block;
	border: 1px solid var(--corDeBorda);
	width: calc(100% - 2px);
	height: 180px;
	margin-top: 5px
}

.selectSection img:not(#configCards) {
	position: relative;
	width: 150px;
	height: 180px;
	left: 50%;
	transform: translateX(-50%)
}

.selectSection div {
	width: 100%;
	height: 55px
}

.selectSection button {
	margin-top: 5px;
	width: 50%;
	float: left;
	font-size: 17px;
	height: 50px
}

#configCards {
	width: 35px;
	height: 35px;
	top: -34px;
	right: 5px;
	position: absolute
}

.notAllowed {	filter: grayscale(1) }

/* SAVED CARDS
********************/
.cardsContainerS { margin-top: 10px }
.configContainerS {
	min-height: 50px;
	max-width: 600px;
	margin-top: 10px;
	border: 1px solid var(--corDeBorda);
	position: relative
}

.configContainerS, .btnApagar {
	left: 50%;
	transform: translateX(-50%)
}

.btnApagar, .btnColarS, .btnCopiarS {
	height: 100%;
	width: 100px;
  font-size: 14px;
	position: absolute
}

.btnColarS {
	left: 100%;
	transform: translateX(-100%)
}

.noneDeck, .elixir {
	margin: 0;
	text-align: center
}

.elixir {
	margin-top: 10px;
}

.btnRemoveAll {
	margin-top: 5px;
	width: 100%;
	height: 50px;
	font-size: 20px;
}

/* BEST DECKS
********************/
.btnCenter {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	font-size: 18px;
	margin-top: 5px
}

/* THEME SECTION
********************/
.configSection { display: none }

.configSection section {
	position: relative;
	width: 100%;
	height: 20px
}

.configSection div {
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}

.configSection label {
	font-variant: small-caps;
	font-size: 20px
}

/* CONFIG
********************/
.containerConfig {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	z-index: 2
}

.config {
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: 0 0 20px black;
	border-radius: 2px;
	transform: translate(-50%, -50%);
	width: 300px;
	min-height: 0;
	background-color: var(--corDeFundo)
}

.config h1 {
	margin: 0;
	font-size: 29px;
	font-weight: 500;
	text-align: center
}

.config label {
	font-size: 20px
}

.config section {
	position: relative;
	margin-top: 5px;
	width: 100%;
	border-top: 1px solid var(--corPrimaria);
	border-bottom: 1px solid var(--corPrimaria);
	height: 24px
}

.config div {
	position: absolute;
	white-space: nowrap
}

.config button {
	padding: 5px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5px
}

/* CHEST SECTION
********************/
.player-ring, .chest-ring {
	float: right;
	margin-left: 2px;
	margin-top: 2px;
	width: 28px;
	height: 28px;
	position: relative
}
.idContainer, .chestContainer, .playerContainer {
	width: 100%;
	position: relative
}
.idContainer { height: 35px }

.chestContainer {
	text-align: center;
	margin-top: 10px
}

.idCenter {
	position: absolute;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%)
}

.idCenter p {
	display: inline-block;
	margin: 0;
	margin-right: 5px
}

.chestInfo p {
	margin: 0;
	font-size: 20px
}

.chestInfo {
	display: inline-block;
	position: relative;
	width: 180px;
	height: 210px
}

.chestSection input, .playerSection input {
	margin-top: 2px;
	font-size: 19px;
	background-color: var(--corDeFundo);
	color: var(--corDeLetraBotao);
	text-align: center
}

.idContainer button { top: -2px }

/* ABOUT
********************/
.aboutSection, .selectSection { display: none }

.aboutSection h1 {
	margin: 0;
	font-weight: 900;
	font-size: 30px;
	text-align: center
}
.aboutSection h1:nth-last-of-type(1) { margin: 20px 0 0 0 }

.aboutSection h3 { margin: 0 }

.aboutSection h2 {
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 400;
	margin: -10px 0 20px 0;
}

.aboutSection h4, .aboutSection p {
	margin: 0;
	text-align: center
}

.aboutSection p { font-size: 17px }

.aboutSection address {	display: inline }

.logo {
	position: relative;
	display: block;
	left: 50%;
	transform: translateX(-50%)
}
.aboutSection a, .navSection a { color: var(--corDeLetra) }

/* RESPONSIVIDADE
********************/
@media (min-width: 360px) {	.cardsContainer, .cardsContainerS {	height: 240px	} }
@media (min-width: 420px) {	.cardsContainer, .cardsContainerS {	height: 270px	} }
@media (min-width: 480px) {	.cardsContainer, .cardsContainerS {	height: 300px	} }
@media (min-width: 540px) {	.cardsContainer, .cardsContainerS {	height: 330px	} }
@media (min-width: 600px) {	.cardsContainer, .cardsContainerS {	height: 360px } }

@media (min-width: 768px) {
	.selectSection button:nth-last-of-type(2) { margin-left: 10px }
	.selectSection section {
		width: calc(50% - 8px);
		margin-left: 3px
	}
	.selectSection button {
		display: inline-block;
		margin-left: 5px;
		width: 240px
	}

	#configCards { top: 2px	}

	.navSection h1 {
		display: block;
		font-size: 15px;
		margin-top: 2px;
		margin-bottom: 2px;
		text-align: center
	}

	select {
		left: 50%;
		transform: translateX(-50%)
	}

	.aboutSection h3 { text-align: center }

	.infoContainer h3 {	width: 100%	}

	.configContainer { height: 97px }
	.configContainer img, .btnGerar, .btnVoltar {
		top: 50%;
		transform: translateY(-50%)
	}

	.configContainer img {
		left: 140px;
		top: 70px
	}

	.btnGerar, .btnVoltar {	margin-top: 0 }

	.configContainer div {
		top: 60px;
		left: 5px;
		transform: translate(0, 0)
	}

	.btnApagar, .btnColarS, .btnCopiarS {
		font-size: 20px;
		width: 140px
	}

	.btnSalvar { left: 255px }
	.btnColar { left: 130px }
	.btnSalvar, .btnColar { top: 0 }

	.navSection div { display: none }

	.navSection button {
		width: 100%;
		font-size: 19px
	}

	.builderSection, .playerSection, .selectSection, .savedSection, .chestSection, .bestSection, .configSection, .aboutSection {
		top: 0;
		left: 176px;
		width: calc(100% - 176px)
	}

	.btnRemoveAll {
		width: calc(100% - 10px);
		left: 5px
	}
}

@media (min-width: 1024px) {
	ins { cursor: default }
	.btnGerar ins { cursor: pointer }

	.selectSection section {
		width: calc(25% - 16px);
		margin-left: 9px
	}

	button:hover { background: var(--corTercearia) radial-gradient(circle, transparent 1%, var(--corTercearia) 1%) center/15000% }

	button:active {
		background-color: var(--corPrimaria);
		background-size: 100%
	}

	#configCards { cursor: pointer }

	img, button, select, input[type=checkbox], input[type=radio], label {	cursor: pointer	}
	label { user-select: none }

	.aboutSection h1 { cursor: default }

	.builderSection>section {
		position: relative;
		width: 850px;
		left: 50%;
		transform: translateX(-50%)
	}

	.cardsContainer img:hover, .cardsContainerS img:hover {
		width: 104%;
		height: 104%;
		transform: translate(-2%, -2%)
	}

	.cardsContainer img:active, .cardsContainerS img:active {
		width: 100%;
		height: 100%;
		transform: translate(0, 0)
	}

	.selectSection img:not(#configCards) { transition: all .1s }

	.cardsContainer, .configContainer {
		left: calc(100% - 605px);
		transform: translateX(0)
	}

	.infoContainer {
		position: absolute;
		width: 250px;
		top: 0;
		left: calc(100% - 850px);
		transform: translateX(0)
	}

	.dropdowns, .infoText {
		left: 50%;
		width: 100%;
		transform: translateX(-50%)
	}
	.dropdowns {
		position: absolute;
		top: 5px
	}
	.infoText {
		position: absolute;
		top: 165px
	}

	.btnVoltar { width: 20px }

	.infoContainer h2 { font-size: 17px }

	.aboutSection a, .navSection a { text-decoration: none }

	.effect {	position: relative }

	.effect:after {
		content: '';
		background-color: var(--corDeLetra);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		width: 0;
		height: 2px;
		transition: width .3s
	}

	.effect:hover.effect:after { width: 100% }
}

@media (min-width: 2560px) {
	.selectSection section {
		width: calc(20% - 20px);
		margin-left: 12px
	}
}